# macOS system files
.DS_Store

# Hugo specific
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# Temporary files
tmp/
temp/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.cursorignore

# Node modules (if you're using any Node.js tools)
node_modules/

# Local Netlify folder (if you're using Netlify)
.netlify

# Hugo theme development (if you're developing a theme)
themes/*
!themes/.gitkeep

# Environment variables
.env
.env.*