{{ define "main" }}
<section id="about">

    <p>Focused on using AI to improve healthcare.</p>
    
    <p>Some things about me:</p>
    <ul>
        <li>Grew up in Cape Breton Island, Nova Scotia</li>
        <li>Studied in Ottawa (undergrad) and Waterloo (grad school)</li>
        <li>Cycled across Canada last summer after graduating PhD</li>
        <li>Bootstrapped self improvement apps last year (>100k revenue)</li>
    </ul>
</section>
<section id="recent-posts">
    <h4><a href="/post">Writing</a></h4>
    <div class="post-list">
    {{ range first 3 (where .Site.RegularPages "Type" "in" "post") }}
        <div class="post-item">
            <span class="post-date">{{ .Date.Format "2006-01" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
    {{ end }}
    </div>
</section>
{{ end }}
